<section class="">
    <div class="revievs">
                <ul>
        <li class="revievs__list">
            <picture>
                <source srcset="../images/customer_reviews/testimonials1_mob.jpg, ../images/customer_reviews/testimonials1_mob@2x.jpg"
                media="(min-width: 320px)"/>
                <source srcset="../images/customer_reviews/testimonials1_tab.jpg, ../images/customer_reviews/testimonials1_tab@2x.jpg"
                media="(min-width: 780px)"/>
                <source srcset="../images/customer_reviews/testimonials1_desk.jpg, ../images/customer_reviews/testimonials1_desk@2x.jpg"
                media="(min-width: 780px)"/>
            <img src="../images/customer_reviews/testimonials1_desk.jpg" 
            alt="">
        </picture>
            <p class="revievs-link-link">Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit <span></span> <br>
                nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.</p>
        </li>
        <!-- <li class="revievs__list-text">
            <picture>
                <source srcset="../images/customer_reviews/testimonials2_mob.jpg, ../images/customer_reviews/testimonials2_mob@2x.jpg"
                media="(min-width: 320px)"/>
                <source srcset="../images/customer_reviews/testimonials2_tab.jpg, ../images/customer_reviews/testimonials2_tab@2x.jpg"
                media="(min-width: 780px)"/>
                <source srcset="../images/customer_reviews/testimonials2_desk.jpg, ../images/customer_reviews/testimonials2_desk@2x.jpg"
                media="(min-width: 780px)"/>
            <img src="../images/customer_reviews/testimonials2_desk.jpg" 
            alt="">
        </picture>
            <p class="revievs__list-link-text">Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit <span></span> <br>
                nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.</p>
        </li>
        <li class="revievs__list">
            <picture>
                <source srcset="../images/customer_reviews/testimonials3_mob.jpg, ../images/customer_reviews/testimonials3_mob@2x.jpg"
                media="(min-width: 320px)"/>
                <source srcset="../images/customer_reviews/testimonials_tab.jpg, ../images/customer_reviews/testimonials3_tab@2x.jpg"
                media="(min-width: 780px)"/>
                <source srcset="../images/customer_reviews/testimonials3_desk.jpg, ../images/customer_reviews/testimonials3_desk@2x.jpg"
                media="(min-width: 780px)"/>
            <img src="../images/customer_reviews/testimonials3_desk.jpg" 
            alt="">
            <p class="revievs__list-link-text">Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit <span></span> <br>
                nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.</p>
        </li> -->
        </ul>
        <span class="elips"></span>
    <p class="revievs__list-coment">Emily, Los Angeles</p>

<button type="button" class="revievs-btn"></button>
<button type="button" class="revievs-btn"></button>
<button type="button" class="revievs-btn"></button>
    </div>
    </section>>