<section class="">
    <div class="advantatages">
        <h2 hidden></h2>
        <ul>
        <li class="advantatages__list">
            <img src="../images/advantatages/img_1.jpg" alt="">
            <p>Emily, Los Angeles</p>
        </li>
        <li class="advantatages__list">
            <img src="../images/advantatages/img_2.jpg" alt="">
            <p></p>
        </li>
        <li class="advantatages__list">
            <img src="../images/advantatages/img_3.jpg" alt="">
            <p></p>
        </li>
        </ul>

    <p class="advantatages__list-link">Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit <span></span> <br>
        nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.</p>
<button type="button" class="advantatages-btn"></button>
<button type="button" class="advantatages-btn"></button>
<button type="button" class="advantatages-btn"></button>
    </div>